:root {
  --black: #333;
  --primary-color: tomato;
}

body {
  background-color: whitesmoke;
  color: var(--black);
  font-family: sans-serif;
}

nav li {
  display: inline-block;
  list-style: none;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--primary-color);
}

.container {
  padding: 1rem;
}

.code-block {
  margin: 1rem;
}
